* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* Layout */

.row {
    display: flex;
    flex-wrap: wrap;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: #080B12;
    width: 100vw;
    height: 100px;
    position: relative;
}

nav {
    background-color: #000000;
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

main {
    background-color: #141922;
}

.container-side {
    display: flex;
    height: calc(100vh - 100px);
}

.container-main {
    width: calc(100vw - 50px);
    height: calc(100vh - 200px);
    position: relative;
    left: 50px;
    overflow: auto;
}

.container-foot {
    background-color: #282828;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0; 
    z-index: 1;
}

.col-head {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.col-side {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    text-align: center;
}

.col-side-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px auto;
    text-align: center;
}

.col-main {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.col-main-double {
    width: 100%;
    margin: 0 auto;
}

.col-main-text {
    width: 100%;
    margin: 0 12px;
}

.col-foot {
    width: calc(100% / 3 - 20px);
    height: 70px;
    margin: 13px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-side {
    padding-bottom: 10px;
}

.content-main {
    display: flex;
    justify-content: center;
}

.content-foot-col {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.content-foot-row {
    display: flex;
}

/* Specs & Elements */

button {
    font-size: 12px;
    color: white;
    background-color: #080B12;
    border: 1px solid white;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    padding: 15px 45px;
}

.icon-1 {
    width: 35px;
}

.icon-2 {
    width: 30px;
}

.icon-3 {
    width: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

li {
    color: #75787C;
    font-size: 12px;
    margin: 5px auto;
    padding: 10px;
}

.hr-g {
    position: absolute;
    width: 30px;
    border: 1px solid #99E12D;
    top: 30px;
    left: 40px;
}

.hr-grey-1 {
    width: 20px;
    border: 2px solid #C1C1C1;
}

.hr-grey-2 {
    width: 50px;
    border: 2px solid #5A5A5A;
}

h2 {
    color: white;
    margin: 20px 0;
}

h4 {
    color: white;
    margin: 10px 0;
}

h6 {
    color: grey;
    margin: 1px 0 20px 0;
}

.content-main > img {
    width: 190px;
}

.content-foot-col > img {
    width: 40px;
}

.round {
    height: 190px;
    width: 190px;
    border-radius: 50%;
    object-fit: cover;
}

.fa-shuffle,
.fa-backward-step,
.fa-circle-play,
.fa-forward-step,
.fa-rotate-right,
.fa-bars,
.fa-display,
.fa-volume-high {
    color: white;
}

.fa-heart,
.fa-folder {
    color: grey;
}

/* Utility */

.bg-grey {
    background-color: grey;
}

.radius-20 {
    border-radius: 20px;
}

.color-white {
    color: white;
}

.color-grey {
    color: grey;
}

.font-size-11 {
    font-size: 11px;
}

/* Media Query */
@media screen and (mix-width: 576px) {

}

@media screen and (mix-width: 768px) {
    
}

@media screen and (mix-width: 1200px) {
    
}