* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* Layout */

.row {
    display: flex;
    flex-wrap: wrap;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: #080B12;
    width: 100vw;
    height: 100px;
    position: relative;
}

nav {
    background-color: #000000;
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

main {
    background-color: #141922;
}

.container-side {
    display: flex;
    height: calc(100vh - 100px);
    overflow-y: auto;
}

.container-main {
    width: calc(100vw - 50px);
    height: calc(100vh - 200px);
    position: relative;
    left: 50px;
    overflow: auto;
}

.container-foot {
    background-color: #282828;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0; 
    z-index: 1;
}

.col-head {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.col-side {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    text-align: center;
}

.col-side-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px auto;
    text-align: center;
}

.col-main {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.col-main-double {
    width: 100%;
    margin: 0 auto;
}

.col-main-text {
    width: 100%;
    margin: 0 12px;
}

.col-foot-left {
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.col-foot-center {
    flex-direction: column;
    margin: 0 auto;
}

.col-foot-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
}

.content-side {
    padding-bottom: 10px;
}

.content-main {
    display: flex;
    justify-content: center;
}

.content-foot-col {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.content-foot-col-3 {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.content-foot-row-center {
    display: flex;
    justify-content: center;
}

/* Specs & Elements */

button {
    font-size: 12px;
    color: white;
    background-color: #080B12;
    border: 1px solid white;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    padding: 15px 45px;
}

.icon-1 {
    width: 35px;
}

.icon-2 {
    width: 30px;
}

.icon-3 {
    width: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

li {
    color: #75787C;
    font-size: 12px;
    margin: 5px auto;
    padding: 5px;
}

.hr-g {
    position: absolute;
    width: 30px;
    border: 1px solid #99E12D;
    top: 30px;
    left: 40px;
}

.hr-g-2 {
    display: none;
}

.hr-grey-1 {
    width: 20px;
    border: 2px solid #C1C1C1;
    border-radius: 2px;
    margin-left: 5px;
}

.hr-grey-2 {
    width: 50px;
    border: 2px solid #5A5A5A;
    border-radius: 2px;
}

.hr-grey-3 {
    width: 40px;
    height: 1px;
    border: 2px solid #C1C1C1;
    border-radius: 2px;
    margin-top: 4px;
    margin-left: 10px;
}

.hr-grey-4 {
    width: 100px;
    height: 1px;
    border: 2px solid #5A5A5A;
    border-radius: 2px;
    margin-top: 4px;
    margin-right: 10px;
}

h2 {
    color: white;
    margin: 20px 0;
}

h4 {
    color: white;
    margin: 10px 0;
}

h6 {
    color: grey;
    margin: 1px 0 20px 0;
}

.content-main > img {
    width: 190px;
}

.content-foot-col > img {
    width: 40px;
}

.round {
    height: 190px;
    width: 190px;
    border-radius: 50%;
    object-fit: cover;
}

.fa-shuffle,
.fa-backward-step,
.fa-circle-play,
.fa-forward-step,
.fa-rotate-right,
.fa-bars,
.fa-display,
.fa-volume-high {
    color: white;
}

.fa-heart,
.fa-folder {
    color: grey;
}

.fa-plus {
    display: none;
}

.content-side > .icon-logo {
    display: none;
}

.time {
    font-size: 10px;
    color: white;
}

.menu-text {
    display: none;
}

.menu-text-grey {
    display: none;
}

.menu-text-grey-2 {
    display: none;
}

.hr-side {
    display: none;
}

/* Utility */

.bg-grey {
    background-color: grey;
}

.radius-20 {
    border-radius: 20px;
}

.color-white {
    color: white;
}

.color-grey {
    color: grey;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

/* Media Query */
@media screen and (min-width: 576px) {
    nav {
        width: 200px;
    }

    .container-main {
        width: calc(100vw - 200px);
        left: 200px;
    }

    .container-side {
        position: relative;
    }

    .col-side {
        margin-left: 10px;
        text-align: left;
        position: relative;
    }

    .col-side-2 {
        position: absolute;
        bottom: 0px;
        left: 10px;
        text-align: left;
    }

    .content-main > img {
        width: 150px;
    }

    .round {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
    }

    .content-side > .icon-1 {
        display: none;
    }

    .content-side > .icon-logo {
        display: block;
        width: 120px;
        margin-bottom: 20px;
    }

    .content-side {
        padding: 5px;
    }

    .menu-text {
        display: inline;
        color: white;
        font-size: 11px;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .menu-text-grey {
        display: inline-block;
        color: grey;
        font-size: 11px;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .menu-text-grey-2 {
        display: block;
        color: grey;
        font-size: 11px;
        margin-top: 10px;
    }

    .icon-2 {
        width: 20px;
        vertical-align: middle;
    }

    .icon-3 {
        width: 15px;
        vertical-align: middle;
    }

    .fa-plus {
        display: block;
        padding: 7px;
        background-color: grey;
    }

    .hr-side {
        display: block;
        width: 150px;
        border: 1px solid grey;
        margin-left: 8px;
    }

    .hr-g-2 {
        display: block;
        position: absolute;
        transform: rotate(90deg);
        width: 25px;
        border: 1.5px solid #99E12D;
        top: 80px;
        right: 126px;
    }
}

@media screen and (min-width: 768px) {
    .content-main > img {
        width: 100px;
    }

    .col-main {
        width: 25%;
        text-align: center;
        margin: 0;
    }

    .round {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    .content-foot-col-3 {
        display: inline-block;
    }

    .hr-grey-3 {
        width: 70px;
    }
    
    .hr-grey-4 {
        width: 130px;
    }
}

@media screen and (min-width: 1200px) {
    .col-main {
        width: calc(100% / 6);
        text-align: center;
        margin: 0;
    }

    .hr-grey-3 {
        width: 120px;
    }
    
    .hr-grey-4 {
        width: 180px;
    }

    li {
        padding: 5px 10px;
    }

    .col-foot-right {
        margin-right: 15px;
    }

    .col-foot-left {
        margin-left: 15px;
    }
}